<div class="card weather-forecast m-4">
    <h1>Weather-App</h1>
    <div class="row">
        <div class="col-3 me-4">
            <button class="btn btn-primary" (click)="refreshData();">Refresh Data</button>
            <p class="fs-6"><i>Last Refresh: </i>{{refreshDate|date: "HH:mm:ss dd.MM.YYYY"}}</p>
        </div>
        <div class="col-3">
            <button class="btn-primary btn" (click)="updateLocation();">Get Location</button>
            <p class="fs-6"><i>Current Location: {{currentPosition.latitude}} {{currentPosition.longitude}}</i></p>
        </div>
    </div>
    <div *ngIf="locationError" class="alert alert-danger">Could not retrieve location!</div>
    <div class="today card mb-4 bg-dark-subtle">
        <h2 class="m-2">Current Weather</h2>
        <div class="row m-1">
            <div class="col-2 text-center position-relative">
                <div class="card bg-primary position-absolute top-50 translate-middle-y" style="width: 3rem; height: 3rem;">
                    <img src="{{currentWeather.condition.imgUrl}}" title="{{currentWeather.condition.description}}" alt="{{currentWeather.condition.description}}">
                </div>
            </div>
            <div class="col-3">Temperature:
                <div>
                    <span>{{currentWeather.temperature}}</span>°C
                </div>
            </div>
            <div class="col-3">Precipitation: <br>
                <div>
                    <span>{{currentWeather.precipitation}}</span>mm
                </div>
            </div>
            <div class="col-3">Windspeed:
                <div>
                    <span>{{currentWeather.windspeed}}</span>km/h
                </div>
            </div>
        </div>
    </div>
    <div class="forecast card ">
        <h2 class="m-2">Forecast for the week</h2>
        <div class="list-group mt-2 " *ngFor="let weather of weatherForecast" >
            <div class="list-group-item bg-dark-subtle" >
                <div class="row">
                    <div class="col-2 text-center position-relative">
                        <div class="card bg-primary position-absolute top-50 translate-middle-y" style="width: 3rem; height: 3rem;">
                            <img src="{{weather.condition.imgUrl}}" title="{{weather.condition.description}}" alt="{{weather.condition.description}}">
                        </div>
                    </div>
                    <div class="col-3 position-relative">
                        <span class="top-50 translate-middle-y position-absolute ">{{weather.day| date: 'EEEE' }}</span>
                    </div>
                    <div class="col-2 text-end">
                        <p class="fw-lighter fs-6"><small>max. temp</small></p>
                        {{weather.maxTemperature}}°C
                    </div>
                    <div class="col-2 text-end">
                        <p class="fw-lighter fs-6"><small>min. temp</small></p>
                        {{weather.minTemperature}}°C
                    </div>
                    <div class="col-2 text-end">
                        <p class="fw-lighter fs-6"><small>precipitation</small></p>
                        {{weather.precipitation}}mm
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>