<div class="container pt-5">
  <router-outlet></router-outlet>
</div>

<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <a href="https://openweathermap.org" title="weather icons">Weather icons created by openweathermap</a>
    © 2024
  </div>
</footer>